@use "global" as *;

.btn {
    position: relative;
    display: inline-block;
}

.btn::before {
    content: "";
    position: absolute;
    top: rem(4);
    left: rem(4);
    width: rem(199);
    height: rem(54);
    border: 1px solid $accent-green;
    transition: .3s;
}


.btn__wrapper {
    position: relative;
    display: inline-block;
    background-color: $accent-green;
    transition: 0.3s ease-in-out;
    z-index: 0;
    border: 1px solid $accent-green;
    padding: rem(15) rem(40) rem(16) rem(35);
}

.btn__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: $white;
    transition: .3s;
    left: 0;
    z-index: -1;
}

.btn__wrapper:hover:before {
    width: 100%;
}

.btn__layout {
    display: flex;
}

.btn__img {
    margin-left: rem(8);
    width: rem(41);
    background-image: url(../images/common/arrow-icon.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.btn__text {
    color: $white;
    font-size: rem(14);
    font-family: $accent-font-family;
    font-weight: $normal;
    line-height: 1.57143;
}

.btn:hover .btn__text{
    color: $accent-green;
}

.btn:hover .btn__img {
    background-image: url(../images/common/arrow-green.svg);
}
