@use "global" as *;

.about {
    margin-top: rem(74);
    @include mq(md){
        margin-top: rem(132);
    }
}

.about__btn {
    margin-top: rem(50);
    text-align: center;
    @include mq(md){
        margin-top: rem(40);
    }
}

.about__decoration {
    @include mq(md){
        position: relative;
    }
}

.about__decoration::before {
    display: none;
    @include mq(md){
        display: block;
        position: absolute;
        content: "";
        max-width: rem(194);
        width: 100%;
        right: 10.6%;
        top: rem(134);
        background-image: url(../images/common/about-decoration.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: rem(181);
        transform: translateX(36%);
    }
}



