@use "global" as *;

.information {
    background-color: $pale-blue;
    margin-top: rem(70);
    padding: rem(80) 0 rem(81);
    @include mq(md){
        margin-top: rem(388);
        padding: rem(99) 0 rem(76);
    }
}

.information__inner {
    padding: 0 rem(15);
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
    @include mq(md){
        max-width: rem(1130);
        padding: 0 rem(25);
    }
}

.information__items {
    margin-top: rem(32);
    @include mq(md){
        margin-top: rem(40);
    }
}

.information__item-btn {
    margin-top: rem(40);
    text-align: center;
}