@use "global" as *;

.information {
    background-color: $pale-blue;
    margin-top: rem(70);
    padding: rem(80) 0;
    @include mq(md){
        margin-top: rem(356);
        padding: rem(100) 0 rem(76);
    }
}

.information__items {
    margin-top: rem(24);
    @include mq(md){
        margin-top: rem(40);
    }
}
