@use "global" as *;

.gallery-list {
    margin-top: rem(40);
    display: grid;
    gap: rem(8);
    @include mq(md) {
        margin-top: rem(80);
        grid-template-columns: repeat(9, 1fr);
        grid-auto-flow: dense;
    }
}

.gallery__inner {
    max-width: rem(600);
    width: 100%;
}
