@use "global" as *;

.sub-voice {
    position: relative;
}

.sub-voice::before {
    position: absolute;
    content: "";
    background-image: url(../images/common/voice-design1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    left: calc(50% - min(46vw, 39rem));
    top: rem(-24);
    z-index: -1;
    @include mq(md){
        max-width: rem(301);
        height: rem(138);
        top: rem(-70);
    }
}

.sub-voice__inner {
    max-width: rem(600);
    width: 100%;
}

.sub-voice__testimonial-list {
    margin-top: rem(40);
}