@use "global" as *;

.sub-information__inner {
    position: relative;
    max-width: rem(600);
    width: 100%;
}

.sub-information__inner::before {
    position: absolute;
    content: "";
    background-image: url(../images/common/voice-design1.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: rem(120);
    width: 100%;
    height: rem(55);
    left: calc(50% - min(47vw, 39rem));
    top: rem(-93);
    z-index: -1;
    @include mq(md){
        max-width: rem(301);
        height: rem(138);
        top: rem(-70);
    }
}




