@use "global" as *;

.tab-second__menu {
    display: flex;
    justify-content: center;
    @include mq(md){
        justify-content: space-between;
    }
}

.tab-second__item {
    padding: rem(10) rem(16);
    min-width: rem(102);
    width: fit-content;
    font-size: rem(14);
    line-height: 1.5;
    color: #408F95;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #DDF0F1;
    text-align: center;
    cursor: pointer;
    @include mq(md){
        font-size: rem(24);
        padding: rem(13) 0 rem(13) 0;
        min-width: rem(300);
        line-height: 1;
    }
}

.tab-second__item + .tab-second__item {
    margin-left: rem(20);
    @include mq(md){
        margin-left: 0;
    }
}

.tab-second__item.is-active {
    color: #fff;
    background-color: #408F95;
}

.tab-second__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tab-second__svg {
    display: none;
    @include mq(md){
        display: inline-block;
        width: rem(64);
        height: rem(64);
        vertical-align: middle;
        margin-right: rem(8);
    }
}

.tab-second__item .tab-second__svg path {
    fill: #408F95;
}

.tab-second__item.is-active .tab-second__svg path {
    fill: #fff;
}