@use "global" as *;

.tab__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(13) rem(21);
  @include mq(md) {
    gap: rem(32);
    grid-template-columns: repeat(4, 1fr);
    max-width: rem(744);
    width: 100%;
  }
}

.tab__menu-item {
  padding: rem(6) 0;
  min-width: rem(162);
  width: 100%;
  font-size: rem(14);
  line-height: 1.57143;
  color: $accent-green;
  border: 1px solid $accent-green;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  @include mq(md) {
    max-width: rem(162);
  }
}

.tab__menu-item.is-active {
  color: #fff;
  background-color: $accent-green;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
