@use "global" as *;

// .tab-second__menu {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     justify-content: center;
// }

// .tab-second__menu {
//     @include mq(md){
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: space-between;
//         gap: rem(24);
//     }
// }

.tab-second__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: rem(20);
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: rem(24);
    }
}

.tab-second__menu + .tab-second__menu {
    margin-top: rem(16);
    @include mq(md){
        margin-top: rem(24);
    }
}

.tab-second__item {
    padding: rem(10) rem(16) ;
    min-width: rem(102);
    //width: fit-content;
   // width: 100%;
    font-size: rem(14);
    line-height: 1.5;
    color: #408F95;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #DDF0F1;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    @include mq(md){
        font-size: rem(24);
        padding: rem(13) 0 rem(13) 0;
        min-width: rem(300);
        line-height: 1;
    }
}

.tab-second__item:hover {
    color: #fff;
    background-color: #408F95;
}

.tab-second__item + .tab-second__item {
    // margin-left: rem(20);
    @include mq(md){
        margin-left: 0;
    }
}

.tab-second__item.is-active {
    color: #fff;
    background-color: #408F95;
}

.tab-second__img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.tab-second__svg {
    display: none;
    @include mq(md){
        display: inline-block;
        width: rem(64);
        height: rem(64);
        vertical-align: middle;
        margin-right: rem(8);
    }
}

.tab-second__item .tab-second__svg path {
    fill: #408F95;
    transition: fill 0.3s ease-in-out;
}

.tab-second__item.is-active .tab-second__svg path {
    fill: #fff;
}

.tab-second__item:hover .tab-second__svg path {
    fill: #fff;
}